<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Diary Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Diary Entries</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <!-- <app-explore-container name="Diary Entry"></app-explore-container> -->
<ion-card>
  <ion-img src="../../assets/icon/favicon.png"></ion-img>
  <ion-card-header>
    <ion-card-subtitle>topic</ion-card-subtitle>
    <ion-card-title>Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</ion-card-content>
</ion-card>

</ion-content>
