<ion-header>
  <ion-toolbar>
    <ion-buttons slot= "start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type='text'[(ngModel)]='post.title' required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Details</ion-label>
    <ion-input type="text"[(ngModel)]="post.details"></ion-input>
  </ion-item>

  <ion-item class="ion-padding">
    <form [formGroup]="editorForm" >
      <quill-editor [(ngModel)]="post.content" [styles]="{height: '200px'}" formControlName="editor"></quill-editor>
    </form>
  </ion-item>

  <ion-button class="ion-padding" color="primary" shape="round" expand="full"  (click)="updatePost(post)">
    <ion-icon slot="start" name="create-outline"></ion-icon>
    Update
  </ion-button>

</ion-content>
